# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user state
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Derived data
DerivedData/

# Archives
*.xcarchive
